<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index_main.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="sidenav">
        <a href="/view">View Employees</a>
        <a href="/AddEmployeePage">Add Employee</a>
        <a href="/deleteEmployeePage">Delete Employee</a>
        <a href="/findSalary">Find Salary</a>
    </div>

    <div class="main_box">
        <h1>Delete Employee</h1>

        <form action="/deleteEmployee" method="posts">

            <label id="employee-name" for="name">
                Enter Name To Be Deleted : 
            </label>
            <input type="text" id="employee-name"/>
            


        </form>
    </div>

    


</body>
</html>