<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index_main.css') }}">
    <title>Document</title>
</head>
<!-- to be changed -->
<body>
    <div class="sidenav">
        <a href="/">Dashboard</a>
        <a href="/view">View Employees</a>
        <a href="/AddEmployeePage">Add Employee</a>
        <a href="/deleteEmployeePage">Delete Employee</a>
        <a href="/viewSalaryPage">Find Salary</a>
        <a href="/addSalaryPage">Add Salary</a>
        <a href="/deleteSalaryPage">Delete Salary</a>
    </div>  
    <div class="main_box">
        <h1>Add Employee</h1>
    <form action="/addSalaryToDB" method="post">
        <label for="EmpID">Employee ID:</label><br>
        <input type="text" id="EmpID" name="EmpID"><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="JoinDate">Joining Date:</label><br>
        <input type="text" id="JoinDate" name="JoinDate"><br>

        <label for="HourlyRate">Hourly Rate:</label><br>
        <input type="text" id="HourlyRate" name="HourlyRate"><br>

        <label for="BaseSalary">Base Salary:</label><br>
        <input type="text" id="BaseSalary" name="BaseSalary"><br>
 
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>