<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Database</title>
    <link rel="stylesheet" type="text/css" href="Css/Index_view.css">
</head>
<body>
    <h1>Employee Database</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Number</th>
            <th>Department</th>
            <th>Post</th>
        </tr>
        {% for employee in employee_data %}
            <tr>
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>
                <td>{{ employee[5] }}</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
