<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index_view.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index_main.css') }}">

</head>
<body>
    <div class="sidenav">
        <a href="/view">View Employees</a>
        <a href="/AddEmployeePage">Add Employee</a>
        <a href="/deleteEmployeePage">Delete Employee</a>
        <a href="/findSalary">Find Salary</a>
    </div>
    <h1>Employee Database</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Number</th>
            <th>Department</th>
            <th>Post</th>
        </tr>
        {% for employee in employee_data %}
            <tr>
                <td>{{ employee[0] }}</td>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>
                <td>{{ employee[5] }}</td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
