body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#view_employees {
    width: 100%;
    border-collapse: collapse;
}

#employee_column_name {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: aqua;
}

.column_headers {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.main_box {
    margin-left: 200px; /* Width of the sidenav */
    padding: 20px;
}


.dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.dashboard h3 {
    font-size: 24px;
    color: #666;
}